.hidden { display: none; }

html, body { height: 100%; }
body {
    font-family: $main-font;
    background-color: $gdls-blue;
    color: $copy-color;
    
    display: flex;
    flex-direction: column;

    font-size: 16px;
}

main { padding: 1em;  flex: 1 0 auto; }

.main-head, .subhead { 
    font-size: 2em; 
    font-weight: 800; 
    padding-top: 0.5em; 
    width: 85%; 
    line-height: 1.25; 
}

.subhead {
    font-size: 1.25rem;
    margin-top: 1em;
}

.customer-list-hr { width: 50%; margin: 0; opacity: 0.5; }

.order-button { 
    display: inline-block; 
    background-color: green; 
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
}

#parts-form { display: none; }
.show-form { display: block !important; }