.order-subhead { margin-bottom: 1rem; }

.main-part {
    font-size: 1.2em;
    padding: 0.5em;

    span { font-weight: 700; margin-right: 0.25em; margin-left: 1.5em; }

    .order-qty { float: right; }

}