<section class="management-system-wrapper">
    <h1 class="hidden">GDLS-C Parts Ordering System</h1>
    <h2 @click=" testlogClick" class="main-head">GDLS-C Parts Management System</h2>

    {{!-- <part v-for="part in datastore.parts" :part="part"></part> --}}
   {{#each data}}
        <h1 @click="testlogClick">{{Name}} {{Surname}} {{Age}}</h1>
   {{/each}}
</section>