<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <h1 class="hidden">Welcome to the GDLS Ordering System</h1>
    <header>
        <section class="main-logo">
            <img src="images/GDLS.svg" alt="GDLS logo">
        </section>

        <nav id="main-nav">
            <ul>
                <li>
                    <i class="fas fa-user"></i>
                </li>
                <li>
                   <i class="fas fa-cog"></i> 
                </li>                
            </ul>
        </nav>
    </header>

    <main id="app">
        {{{body}}}
    </main>

    <footer>
        <nav class="footer-nav">
            <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-snapchat-square"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
            </ul>
        </nav>

        <h2 class="hidden">Copyright Notices and Social Media</h2>
        <p class="footer-copy">All Content &copy; 2021 GDLS Canada</p>
    </footer>

    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>