<section class="management-system-wrapper">
    <h1 class="hidden">GDLS-C Parts Ordering System</h1>
    <h2 class="main-head">Welcome to our Parts Ordering System!</h2>

     <section v-if="!customers.length" class="customer-list">
          <h2 >Please add a customer:</h2>
          <form @submit.prevent="addCustomer">
               <input type="text" placeholder="name" v-model="customer_name">
               <input type="submit" value="Add Customer">
          </form>
     </section>

     <section v-else class="customer-list">
          <h2 class="subhead">Choose a Customer for Your Order:</h2>
          <customer @setactivecustomer="setCurrentCustomer" v-for="customer in customers" :customer="customer"></customer>
          <hr class="customer-list-hr">
     </section>

     <section v-if="datastore.parts" class="parts-form">
          <h2 class="subhead order-subhead">Please Select Parts and Qty:</h2>

          <ul>               
               <part v-for="part in datastore.parts" :part="part"></part>
          </ul>

          <div class="order-button">Create Order</div>
     </section>    
</section>